<!-- Hero Section -->
<section id="home" class="hero">
    <div id="particles-js"></div>
    <div class="container">
        <div class="hero-content">
            <div class="text-content">
                <h1>Welcome to <span class="animate-text"><span></h1>
                <p>Exploring computational and mathematical biology at McGill University.</p>
                <div class="hero-buttons">
                    <a href="#research" class="btn primary-btn">Our Research</a>
                    <a href="{{ "contact" | relURL }}" class="btn secondary-btn">Contact Us</a>
                </div>
                <div class="social-icons">
                    <a href="https://scholar.google.com/citations?user=WznaJsEAAAAJ" target="_blank"><i class="fab fa-google-scholar"></i></a>
                    <a href="https://www.researchgate.net/profile/Anmar-Khadra" target="_blank"><i class="fab fa-researchgate"></i></a>
                    <a href="https://github.com/khadralab" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>